export(DEinr)
export(PipelineDE)
import(BiocManager)
import(Rsubread)
import(Rsamtools)
import(DESeq2)
import(edgeR)
import(rtracklayer)
import(shiny)
import(shinyFiles)
import(DT)
import(S4Vectors)
import(stats)
